img{
    max-width: 100%;
}

button {
    border: 1px solid black !important;
    margin-top: 20px !important;
    font-weight: bold !important;
    width: 200px !important;
    padding: 5px 20px !important;
    color: white !important;
    background-color: rgb(205, 182, 84) !important;
}
button:hover {
    color: black !important;
    background-color: rgb(164, 146, 67) !important;
}

.previous, .next{
	max-width: 20px;
	max-height: 20px;
	border-radius: 50%;
	z-index: 92;
}

.previous{
	position: fixed;
	top: 40%;
	left: 50px;

}

.previous:hover, .next:hover{
	cursor: pointer;
}

.next{
	position: fixed;
	top: 40%;
	right: 50px;
}

.header-content, .footer-content{
    height: 200px;
    border: 1px solid #333;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.footer-content{
    margin-top: 50px;
}

.room-title{
    text-align: center;
}

.room-img:hover{
    cursor: pointer;
}

.closebtn {
    position: fixed;
    top: 60px;
    right: 15%;
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 91;
    background-color: transparent !important;
}

.closebtn:hover{
    color: red;
}

.img-expand {
    position: relative;
    display: none;
    max-width: 70%;
}

.imgtext {
    position: fixed;
    bottom: 75px;
    right: 15%;
    color: white;
    font-size: 20px;
    z-index: 91;
}

.expandedImg{
    position: fixed;
    top: 50px ;
    max-width: 74%;
    max-height: 80%;
    bottom: 50px;
    left: 13%;
    right: 13%;
    color: white;
    z-index: 90;
    transition: 1s;
    animation-name: zoomOut;
    animation-duration: 1s;
}

@keyframes zoomOut{
    from {transform: scale(0.3);}
    to {transform: scale(1);}
}

.blackDeep{
    position: fixed;
    top: 0px ;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #333;
    opacity: 0.6;
    display: none;
    z-index: 80;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.img-part:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.book-part{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.price{
    font-weight: bolder;
    text-align: center;
    font-size: 150%;
    margin-top: 40px;
}

.menu-span{
    width: 50px;
    height: 50px;
}

.menu-span img{
    width: 20px;
    height: 20px; 
    transform: rotate(0deg);
}

.sub-menu{
    display: none;
}

/* Booking part */
.book-title{
    text-align: center;
    padding-top: 30px;
}
.book-title h1{
    color: #333;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-booking-content{
    background-image: url(./images/booking-background.jpg);
    background-repeat: none;
    background-size: cover;
}
.booking {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#represent-img{
    margin: auto;
    margin-top: 20px;
    border: 3px solid #ccc;
    width: 600px;
    height: 338px;
}
.booking h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
    color: rgb(205, 182, 84)
}
.booking-form {
    background-color: rgba(0, 0, 0, 0.3);
    width: 800px;
    padding: 40px 40px 40px 40px;
    margin-left: auto;
    margin-right: auto;
}
#type-room{
    min-width: 100%;
}
.form-left label {
    color: white;
    font-size: 16px;
}
.form-left input {
    width: 100%;
    margin-bottom: 10px;
}
.form-right label {
    color: white;
    width: 100%;
    font-size: 16px;
}
.form-right select {
    height: 30px;
}
.form-right input {
    width: 100%;
    margin-bottom: 10px;
}
.booking-form button {
    border: 1px solid black;
    margin-top: 20px;
    font-weight: bold;
    width: 200px;
    padding: 5px 20px;
    color: white;
    background-color: rgb(205, 182, 84);
}
.booking-form .row:nth-child(3) {
    text-align: center !important;
    margin-top: 30px;
}

.booking-form .row:nth-child(3) .col-md-6:first-child {
    padding-left: 120px;
}

.booking-form .row:nth-child(3) .col-md-6:last-child {
    padding-right: 120px;
}

.booking-form button:hover {
    color: black;
    background-color: rgb(164, 146, 67);
}
